<!-- create feed *** leah this is just a rough draft don't panic  *****-->

 --><h1><%= @user.posts.all %></h1>


<!-- # create follow and friends links
 -->
<p>
<a href= "/friends">Friends</a>
<a href= "/follow">Follow</a>
</p>