<H1>HI! Please log in</H1>

<form action= "/" method="POST">
	 <p>
	    <label for="name">Username</label><br>
	    <input type="text" name="name" placeholder="username">
	 </p>
	 <p>
	   <label for="password">Password</label><br>
	   <input type="password" name="password" placeholder="password">
	 </p>
	 <p>
	   <input type="submit" value="Log In">
	</p>
</form>