<!DOCTYPE html>
<html>
	<head>
		<title>Coffee Talk</title>
		<meta charset="utf-8">
		<!-- <link type="text/css" rel="stylesheet" href="/css/layout.css"> -->
		<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<a href="/signup">Sign Up</a>
				<a href="/login">Log In</a>
				<a href="/welcome">Home</a>
				<a href="/profile">Profile</a>
				<a href="/allusers">Explore</a>
				<a href="/logout">Log Out</a>
			</nav>
		</header>
		<%= flash[:notice] if flash[:notice] %>
		<%= yield %>
	</body>
</html>