<!DOCTYPE html>
<html>
	<head>
		<title>Coffee Talk</title>
		<meta charset="utf-8">
		<!-- <link type="text/css" rel="stylesheet" href="/css/layout.css"> -->
		<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<% if current_user %>
					<a href="/home_post">Home</a>
					<a href="/create">Settings</a>
					<a href="/explore">Explore</a>
					<a href="/logout">Log Out</a>
				<% else %>
					<a href="/signup">Sign Up</a>
					<a href="/login">Log In</a>
				<% end %>
			</nav>
		</header>
			<%= flash[:notice] if flash[:notice] %>
			<%= yield %>
	</body>
</html>