<!DOCTYPE html>
<html>
	<head>
		<title>Coffee Talk</title>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/css/main.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<% if current_user %>
				<ul>
					<li>
						<a href="/home_post">Home</a>
					</li>
					<li>
						<a href="/create">Settings</a>
					</li>
					<li>
						<a href="/explore">Explore</a>
					</li>
					<li>
						<a href="/logout">Log Out</a>
					</li>
				<% else %>
					<li>
						<a href="/signup">Sign Up</a>
					</li>
					<li>
						<a href="/login">Log In</a>
					</li>
				</ul>
				<% end %>
			</nav>
		</header>
		<main>
			<%= flash[:notice] if flash[:notice] %>
			<%= yield %>
		</main>
	</body>
</html>