<h1>Hello <%= @user.fname if @user %></h1>

<H1><strong>Please create a Profile</strong></H1>
<form action="/profile" method="POST">
	<p> 
		<label for="age">Age:</label><br>
		<input type="number" name="age" placeholder="age" required>
	</p>
	<p> 
		<label for="city">City:</label><br>
		<input type="text" name="city" placeholder="city" required>
	</p>
	<p> 
		<label for="occupation">Occupation:</label><br>
		<input type="text" name="occupation" placeholder="occupation" required>
	</p>
	
	<p> 
		<label for="user_id">Username</label><br>
		<input type="text" name="user_id" placeholder="user_id" required>
	</p>
	
	<p> 
		<input type="submit" value="Create/Update">
	</p>
</form>

<a href="/edit">Edit/Delete</a>

<h3>Profile</h3>
<p>Age:</p>
<p><%= @user.profile.age if @user %></p>
<p>City:</p>
<p><%= @user.profile.city if @user %></p>
<p>Occupation:</p>
<p><%= @user.profile.occupation if @user %></p>
