<h1>Hello <%= @user.fname if @user %></h1>

<!-- clock js/jquery-->
<!-- weather -->

<!-- text area/box -->
<h2>Make a Post</h2>
<form action="/post" method="POST">
    <p>
        <label for="title">Title</label><br>
        <input type="text" name="title" placeholder="Title" required>
    </p>
    <p>
        <label for="body">Text Body</label><br>
        <textarea type="text" name="body" placeholder="Text Body" required></textarea>
    </p>
    <br>
    <input type="submit" value="Post">
</form>

<!-- 10 recent posts of logged in user -->
<h3>10 Most Recent Posts</h3>
<% @user.posts.each do |post| %>
    <p><%= post.body %></p>
    <hr>
<% end %>